.wrapper
  .ant-picker-input
    cursor: pointer !important
    font-size: 1em
    font-weight: 400
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"

  .ant-picker-input > input::placeholder
    color: #0a0a0a
    font-weight: 400
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
