.wrapper
  .ant-picker-input
    cursor: pointer !important
    font-size: 1em
    font-weight: 400
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"

  .ant-picker-input > input::placeholder
    color: #0a0a0a
    font-weight: 400
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"

  :where(.css-dev-only-do-not-override-1j2l1t3).ant-picker-outlined:focus-visible, :where(.css-dev-only-do-not-override-1j2l1t3).ant-picker-outlined:focus-within
    border: 0.1em solid #101010 !important
    box-shadow: 0px !important

.tag-wapper
  .ant-tag
    border-radius: 1.5em
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"

  :where(.css-dev-only-do-not-override-qnu6hi).ant-tag .ant-tag-close-icon
    font-size: 0.8em
